<p id="notice"><%= notice %></p>

<p>
  <strong>Bookmark</strong>
  <a href=<%= @bookmark.url %>><%= @bookmark.name %></a>
</p>
<p>
  <strong>Saved at:</strong>
  <%= @bookmark.saved_at %>
</p>

<%= link_to 'Edit', edit_bookmark_path(@bookmark) %> |
<%= link_to 'Back', bookmarks_path %>
